<div class="kurs-menu">
    <div class="menu-top"
    (click)="openModule()">
      <div class="menu-left">
        <i class="fa-solid fa-chevron-down"></i>
        <p class="menu-text">1-modul.Angularga kirish</p>
      </div>
      <p class="menu-text">
        5 darslik <i class="fa-solid fa-chevron-right"></i> 1.5 soat
      </p>
    </div>
   @if( Module) {
    <div class="menu-bottom">
      <div class="menu-row">
        <div class="menu-sub-left">
          <i class="fa-solid fa-video"></i>
          <p class="menu-subtext">#1. Angular haqida</p>
        </div>
        <p class="menu-subtext">15:43</p>
      </div>
      <div class="menu-row">
        <div class="menu-sub-left">
          <i class="fa-solid fa-video"></i>
          <p class="menu-subtext">#2. Angular haqida</p>
        </div>
        <p class="menu-subtext">15:43</p>
      </div>
      <div class="menu-row">
        <div class="menu-sub-left">
          <i class="fa-solid fa-video"></i>
          <p class="menu-subtext">#3. Angular haqida</p>
        </div>
        <p class="menu-subtext">15:43</p>
      </div>
      <div class="menu-row">
        <div class="menu-sub-left">
          <i class="fa-solid fa-video"></i>
          <p class="menu-subtext">#4. Angular haqida</p>
        </div>
        <p class="menu-subtext">15:43</p>
      </div>
      <div class="menu-row">
        <div class="menu-sub-left">
          <i class="fa-solid fa-video"></i>
          <p class="menu-subtext">#5. Angular haqida</p>
        </div>
        <p class="menu-subtext">15:43</p>
      </div>
    </div>

   }
  </div>
  